.btn {
  width: 100%;
  padding: 22px;
  border-radius: 18px;
  font-weight: 700;
  font-size: var(--font-lg);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background: var(--accent);
  color: white;
}

.btn-secondary {
  background: rgb(155, 155, 155);
  color: white;
}

.btn:active {
  opacity: 0.7;
  transform: scale(0.98);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-ghost {
  opacity: 0;
}