.service-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  align-content: start;
}

.service-card {
  background: var(--surface);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.2s ease;
  height: 320px;
  cursor: pointer;
}

.service-card:active {
  transform: scale(0.97);
  background: rgba(255, 255, 255, 0.9);
}

.card-header-flex {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 12px;
}

.service-icon-box {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  /* background: #f2f2f7; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  flex-shrink: 0;
  line-height: 1;
  align-self: center;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); */
}

.service-icon-box.large {
  width: 80px;
  height: 80px;
  font-size: 3.2rem;
  border-radius: 20px;
}

.service-card h3 {
  margin: 0 0 6px 0;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.service-card p {
  color: var(--muted);
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.4;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex: 1;
}

.card-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 600;
  font-size: 1.1rem;
}

.select-btn {
  background: var(--accent);
  color: white;
  border-radius: 12px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: all 0.2s ease;
  border: none;
}

.select-btn svg {
  width: 24px;
  height: 24px;
}
